footer
  .container-fluid.footer-contact
    .row.row-container
      .col-md-4
        .fa.fa-envelope
          <p> <a href="email:info@redribbon.us">info@redribbon.us</a></p>
      .col-md-4
        .fa.fa-map-marker
          <p><a href="#">311 N Market st. Dallas, Texas 75075</a></p>
      .col-md-4
        .fa.fa-twitter
          <p><a href="#"></a></p>
        .fa.fa-facebook-official
          <p><a href="#"></a></p>

  .container.text-center
    p.pull-left © 2016 Company, Inc. All Rights Reserved
