<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>

	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/static/css/user.css">

</head>
<body>
	<!-- START NAVIGATION BAR -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
					<a class="navbar-brand" href="#"><img src="/static/images/logo.png" height="100px"></a>
		    </div>
				<!-- /end Brand -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
						<li><a href="/search"><b>Search Services</b></a></li>
							<li><a href="/edit_user">Edit Settings</a></li>
							<li><a href="/logout">Log Out</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <!-- /END NAV -->

	<div class="container">
		<div class="col-md-12">
			<h3>Recommended: <small>based on your preferences <i><sub>(<a href="/edit_user">edit settings</a>)</sub></i></small></h3>
		</div>
		<!-- start results -->
		<div id="results" class="col-md-6">

				{% for rec in result %}

				<div class="panel panel-default">
					<div class="panel-heading">
						<img src="https://www.riddle.com/assets/img/img-icon.png" alt="placeholder">
						<div>
							<h4><a href="/service/{{rec['id']}}">{{rec['name']}}</a></h4>
							<div class="rating">{{rec['rating']}}&#9733;&#9733;&#9733;&#9733;&#9734;</div>
						</div>
					</div>
					<div class="panel-body">
						<div>
							<ul class="categories">
								<li>Categories:</li>
								{% if rec['faith']%}
								<li><a href="#">Faith Based</a></li>
								{% endif %}
								{% if rec['gender']%}
								<li><a href="#">Gender Specific</a></li>
								{% endif %}
								{% if rec['income'] %}
								<li><a href="#">Income Dependent</a></li>
								{% endif %}
								{% if rec['child']%}
								<li><a href="#">Child-Based</a></li>
								{% endif %}
							</ul>
						</div>

						<div>
							<div>
								<h4>{{rec['type']}}</h4>
								<p>{{rec['description']}}</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}


			</div>
		</div>
		<!-- end results -->

		<div class="col-md-1">
			<!-- space filler -->
		</div>

		<div class="col-md-6">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4>My Favorites:</h4>
				</div>
				<div class="panel-body" id="favs">

					{% for fav in favs %}

					<div class="panel panel-default">
						<div class="panel-heading">
							<img src="https://www.riddle.com/assets/img/img-icon.png" alt="placeholder">
							<div>
								<h4><a href="/service/{{fav['id']}}">{{fav['name']}}</a></h4>
								<div class="rating">{{fav['rating']}}&#9733;&#9733;&#9733;&#9733;&#9734;</div>
							</div>
						</div>
						<div class="panel-body">
							<div>
								<ul class="categories">
									<li>Categories:</li>
									{% if fav['faith']%}
									<li><a href="#">Faith Based</a></li>
									{% endif %}
									{% if fav['gender']%}
									<li><a href="#">Gender Specific</a></li>
									{% endif %}
									{% if fav['income'] %}
									<li><a href="#">Income Dependent</a></li>
									{% endif %}
									{% if fav['child']%}
									<li><a href="#">Child-Based</a></li>
									{% endif %}
								</ul>
							</div>

							<div>
								<div>
									<h4>{{fav['type']}}</h4>
									<p>{{fav['description']}}</p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>
