    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="http://cdn.quotesgram.com/img/16/82/1557277692-helping-hands.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>You've come to the right place.</h1>
              <h3>Feeling overwhelmed? Don't worry, you are not alone. Join our community to start your journey with us!</h3>
              <p><a class="btn btn-lg btn-primary" href="/users/new" role="button">Sign Up Today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="https://static1.squarespace.com/static/56a7b9d61a520325bac0551b/t/56a818cd2399a3742189691e/1453856974432/wallpaper-happy-people.jpg?format=2500w" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>We're here to help!</h1>
              <h3>We want you to be informed and supported in every possible way. Check out some of our services!</h3>
              <p><a class="btn btn-lg btn-primary" href="/service_providers" role="button">Browse Services</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="https://atthetablechicago.files.wordpress.com/2013/09/diverse-group-buy-in-all-hands-huddle.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Get Involved</h1>
              <h3>Make someone smile today! See the ways you can be involved with Red Ribbon.</h3>
              <p><a class="btn btn-lg btn-primary" href="/users/new" role="button">Get Involved!</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://viewcolleges.com/wp-content/uploads/pep-vn/ba/ba740e35/hugging-people-640x427-7f.jpg" width="140" height="140">
          <h2>Hello, friend!</h2>
          <p>Devastating news can be just that: devastating. Join a supportive community of people sharing knowledge and information on the reality of living with HIV/AIDS.</p>
          <p><a class="btn btn-default" href="/users/new" role="button">Join! &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://cdn.psychologytoday.com/sites/default/files/blogs/108067/2014/08/157010-161198.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Support</h2>
          <p>We aim to organize the most update-to-date platform that allows those impacted by HIV (whether you are the patient, a parent, sibling or friend); to get all the resources needed to take your next steps.</p>
          <p><a class="btn btn-default" href="/service_providers" role="button">Services &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://c2.staticflickr.com/8/7557/15761889077_8a68c0083a_b.jpg" width="140" height="140">
          <h2>Get Involved!</h2>
          <p>We get by with a little help from (you)! If you want to donate your time, spare change, smiles, hugs, etc; let us know!</p>
          <p><a class="btn btn-default" href="/users/new" role="button">Help &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    
    </div><!-- container marketing-->

      <!-- START THE FEATURETTES -->

<!--       <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider"> -->

      <!-- /END THE FEATURETTES -->
