a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: blue;
}

div.panel-heading div{
	display: inline-block;
}

div.panel-heading img{
	width: 64px;
	height: 64px;
	vertical-align: top;
	margin-right: 10px;
}

ul.categories{
	padding: 0px;
}

ul.categories li{
	display: inline;
	margin-right: 10px;
}
